// body{
//   background: red !important;
// }
// 
$red: #e3001b;
$redDark: #AA0216;

$error: #e3001b;

$white: white;

$greyLight: #faf9f9; // #faf9f9
$grey: #515151;
$greyDark: #202020;

$black: black;
// Font Size
// $menuTitle: 
$menu: 1.2em;
$titreSidbar: 1.5em;
$sidbarLink: 0.7em;

// $sousTitre:

$standardFont: 'Monserrat', sans-serif;

$limitMenuSize: 680px;